<table class="records_list">
    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>date de creation</th>
        <th>Modification par</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for company in companies %}
        <tr>
            <td>{{ company.companyName }}</td>
            <td>{% if company.creationDate %}{{ company.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ company.status }}</td>
            {#<td>{{ company. }}</td>#}
            <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
