
{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/telmaselfcareprepaid/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>


    <style>
        body {
            background: #ffdd00;
        }
        .block_form_search {
            border: 1px solid #B4C7D8!important;

            margin-bottom: 15px;

            padding: 28px 7px 17px 24px!important;
        }
        .block_table_result {
            /*margin-left: 47px;*/
            border: 1px solid #B4C7D8;
            height: 350px;
            margin-bottom: 13px;
            width:100%;
        }
        .text-search {
            margin-left: 35px;
            width: 679px;
        }
        .head_table {
            background: #ffdd00!important;
        }
        .block_form_search {
            width: 100%;
        }
    </style>
{% endblock %}
{% block class_header_background %}content_header{% endblock %}
{% block content -%}
    {% include 'TelmaSelfcarePrepaidBundle:Company:nav_menu.html.twig' %}
    <div class="container-fluid">
        {% for flashMessage in app.session.flashbag.get('update_success') %}
            <div class="alert alert-success alert_value" style="display: block">
                <div class="flash-notice notif" style="font-size: 15px">
                    {{ flashMessage }}<button type="button" id="btn-dismiss" style="color: red;font-size: 10px;background: yellow" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('create_success') %}
            <div class="alert alert-success alert_value" style="display: block">
                <div class="flash-notice notif" style="font-size: 15px">
                    {{ flashMessage }}<button type="button" id="btn-dismiss" style="color: red;font-size: 10px;background: yellow" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
        {% endfor %}

        {% include 'TelmaSelfcarePrepaidBundle:Company:filter_form.html.twig' %}
        {% include 'TelmaSelfcarePrepaidBundle:Company:table_liste_company.html.twig' %}

    </div>
    <div class="clear"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    {#<script type="text/javascript" src="{{ asset('bundles/telmaselfcareprepaid/js/lib/bootstrap-datepicker.js') }}"></script>#}
    <script>

        $(document).ready(function () {
            var btn_next = $("a[rel='next']");
            btn_next.text("Suivant");
            var btn_prev = $("a[rel='prev']");
            btn_prev.text("Precedent");

            var label_next = $('li[class=disabled] span').text();

            if (label_next.indexOf('label_next') !== -1)
            {
                $('li[class=disabled] span').text("Suivant");
            }

            if (label_next.indexOf('label_previous') !== -1)
            {
                $('li[class=disabled] span').text("Precedent");
            }

            $('.js-datepicker').datepicker({language: 'fr-FR',todayHighlight: true,autoclose: true});
            $('.js-datepicker').datepicker('setDate','today');

            var alert_value = $('.alert_value');

            $('#debutDateSearch')
                .datepicker()
                .on('changeDate', function(ev){
                    var endDateSearch = $('#endDateSearch').val();
                    console.log(endDateSearch);
                    if ($(this).val() > endDateSearch){
                        alert_value.css('display','block');
                        $('#search-button').prop('disabled',true);
                    } else {
                        alert_value.css('display','none');
                        $('#search-button').prop('disabled',false);
                        alert_value.hide();
                    }
                    $('#debutDateSearch').datepicker('hide');
                });

            $('#endDateSearch')
                .datepicker()
                .on('changeDate', function(ev){
                    var debutDateSearch = $('#debutDateSearch').val();
                    console.log(debutDateSearch);
                    if ($(this).val() < debutDateSearch){
                        alert_value.css('display','block');
                        $('#search-button').prop('disabled',true);
                    } else {
                        alert_value.css('display','none');
                        $('#search-button').prop('disabled',false);
                        alert_value.hide();
                    }
                    $('#endDateSearch').datepicker('hide');
                });

            alert_value.click(function () {
                $(this).css('display','none')
            })














            var idComp = $("").attr('data-id');
//            var search = $('#search-button');
            {#search.click(function () {#}
                {#var nomComp = $('#nomComp').val();#}
                {#var statusComp = $('#statusComp').val();#}
                {#var debutDateSearch = $('#debutDateSearch').val();#}
                {#var endDateSearch = $('#endDateSearch').val();#}
                {#$.ajax({#}
                    {#url: "{{ path('company_filter') }}",#}
                    {#type: 'POST',#}
                    {#dataType: 'html',#}
                    {#data: {#}
                        {#nomComp: nomComp , statusComp: statusComp, debutDateSearch: debutDateSearch, endDateSearch: endDateSearch#}
                    {#},#}
                    {#success: function(data){#}
                        {#$('#result').empty();#}
                        {#$('#result').append(data);#}
                    {#},#}
                    {#error: function (error) {#}
                        {#console.log(error)#}
                    {#}#}
                {#});#}

            {#});#}
        })
    </script>
{% endblock %}