<nav class="navbar ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            {% if app.user is not null %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.nom }}<span class=""></span></a>

                        <ul class="dropdown-menu">

                            {% if app.user.isAdmin %}
                                <li><a href="{{ path('company') }}">Gestion des entreprises</a></li>
                                <li><a href="{{ path('company_new') }}">Créer</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('user') }}">Gestion des utilisateurs</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('subscriptioncompany') }}">Subscription</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li  class="dropdown-header"><a href="{{ path("fos_user_security_logout") }}">Deconnexion</a></li>

                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

{% include'TelmaSelfcarePrepaidBundle:Company:popup_new_company.html.twig' %}