{% extends '::base.html.twig' %}

{% block content %}
    <h1>Company</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ company.companyName }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ company.creationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ company.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('company') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('company_edit', { 'id': company.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
